<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>utilities.UTF8Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FailedHandleServlet</servlet-name>
        <servlet-class>servlet.FailedHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourDetailServlet</servlet-name>
        <servlet-class>servlet.TourDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTourProgramServlet</servlet-name>
        <servlet-class>servlet.CreateTourProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourProgramServlet</servlet-name>
        <servlet-class>servlet.EditTourProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourProgramServlet</servlet-name>
        <servlet-class>servlet.DeleteTourProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTourServlet</servlet-name>
        <servlet-class>servlet.CreateTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourServlet</servlet-name>
        <servlet-class>servlet.EditTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourServlet</servlet-name>
        <servlet-class>servlet.DeleteTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>servlet.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdsServlet</servlet-name>
        <servlet-class>servlet.CreateAdsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdsServlet</servlet-name>
        <servlet-class>servlet.DeleteAdsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdsServlet</servlet-name>
        <servlet-class>servlet.EditAdsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FailedHandleServlet</servlet-name>
        <url-pattern>/FailedHandleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourDetailServlet</servlet-name>
        <url-pattern>/TourDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTourProgramServlet</servlet-name>
        <url-pattern>/CreateTourProgramServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourProgramServlet</servlet-name>
        <url-pattern>/EditTourProgramServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourProgramServlet</servlet-name>
        <url-pattern>/DeleteTourProgramServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTourServlet</servlet-name>
        <url-pattern>/CreateTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourServlet</servlet-name>
        <url-pattern>/EditTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourServlet</servlet-name>
        <url-pattern>/DeleteTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdsServlet</servlet-name>
        <url-pattern>/CreateAdsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdsServlet</servlet-name>
        <url-pattern>/DeleteAdsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdsServlet</servlet-name>
        <url-pattern>/EditAdsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            86400
        </session-timeout>
    </session-config>
</web-app>
